* {
  font-family: ui-sans-serif, system-ui, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-dark);
}

:root {
  --color-text-dark: #030712;
}
